*{
    margin: 0;
    padding: 0;

}
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i {
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-link:hover{
  display: flex;
}
.social-link :hover{
    background-color:green;
    border-radius: 50px;
}
@media screen and (max-width:420px){
    .social-link i img{
        width: 20px;
    }
}
.logo h3{
    font-weight: bold;
}
@media screen and (max-width:420px){
    .logo h3{
        font-size: 20px;
    }
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}
.self{
    border-radius: 30%;
}
@media screen and (max-width:420px){
    .icons i img{
        width: 20px;
    }
}
.icons i img:hover{
    background-color:green;
    border-radius: 50px; 
}

.main-content{
    width: 100%;
    height: 90vh;
    background-image: url(https://i.pinimg.com/736x/02/67/18/026718502a3782d7275897b2f1ef70ca.jpg);
    background-size: cover;
    background-position: 70%;
}
#navbar-color{
    background-color: rgba(238,224,208);
}
.navbar-nav{
    margin: auto;

}
.nav.link{
    margin-left: 10px;
    font-weight: bold;
    color: black;
    transition: 0.2s ease;
    cursor: pointer;
}
.nav-link:hover{
    color: green;

}
.content{
    margin-top: 150px;
    margin-left: 60px;
    color: black;
}
.content h1{
    font-size: 50px;
}
#btn1 button{
    width: 150px;
    height: 32px;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn1 button:hover{
    background-color: green;
}
@media screen and (max-width:420px){
    .content h1{
        font-size: 30px;
    }
}
#btn2 button{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
    background: transparent;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 80px;
    color: blue;
}

.card-title{
    color: red;
}
.card img{
    width: 350px;
}
#btn2 button:hover{
    background-color: rgba(238,224,208);
}
#tpc{
    box-shadow: 0 0 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}
#tpc:hover{
    transform: translateY(-10px);
}
#c p{
    font-weight: bold;

}
#btn3 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    margin-left: 80px;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn3 button:hover{
    background-color:rgba(238,224,208);
}
@media screen and (max-width:895px) {
    #btn3 button{
        width: 100px;
    }
}
#btn4 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    margin-left: 70px;
    transition: 0.5s ease;
    cursor: pointer; 
}
#btn4 button:hover{
    background-color: rgba(238,224,208);
}
.self img{
    width: 550px;
}

#footer{
    width: 100%;
    background: black;
    margin-top: 100px;
    background-size: cover;
}
#footer h1{
    color: white;
    padding-top: 30px;
}
#footer p{
    color: white;
}
.icons i{
    color: rgba(238,224,208);
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    color: white;
    margin-top: 20px;
}
.credite{
   color: white;
}